@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    background-image: linear-gradient(to right, rgb(220, 220, 241),rgb(155, 155, 239));
}

h1, h2, h3, h4, h5, h6 { 
    font-weight: bold;
}

h1{
    color: rgb(36, 36, 151);
    
}

input{
    margin: 10px;
}

.btn{
    width: 300px;
    border-radius: 10px;
    border-color: none;
    background-color: rgb(36, 36, 151);
    color: white;
}

.box {
    margin: auto;
    padding: 50px;
    width: 500px;
    height: 300px;
    background-color: white;
    border-radius: 10%;
}
.image {
    width: 250px;
    height: 200px;
    border-radius: 10%;
    margin: 30px;
}

#res{
    font-size: 18pt;
    font-weight: bold;
}